:root {
    --background-1: #4a1f17;
    --background-2: #0e121a;
    --icon-1: #08c16a;
    --icon-2: ##FF7777;
    --icon-3: #3662ff;
    --icon-4: #a55eff;
    --text-1: #ffffff;
    --text-2: #F0D607;
    --text-3: #fffc;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.Interface {
    display: grid;
    place-items: center;
    place-content: center;
    background: radial-gradient(at top right, var(--background-1) 0%, #FFFFFF00 70%), url(img/IT-Business-BG-Image.webp);
    background-color: var(--background-2);
    width: 100%;
    min-height: 100vh;
}

#logo {
    width: 431px;
    height: 209px;
    margin-top: 210px;
}

.text {
    color: var(--text-1);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Changa", Sans-serif;
    font-size: 29px;
}

.pictures {
    width: 85%;
    border-radius: 10px;
    border: solid 1px var(--icon-4);
}

/* .page_2 {
    background: var(--background-2);
}

.content {
    display: flex;
} */