@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Changa:wght@200..800&display=swap');

:root {
    --background-1: #4a1f17;
    --background-2: #0e121a;
    --background-3: #243a7e;
    --background-4: #141b26;
    --background-5: #1B1F27;
    --icon-1: #08c16a;
    --icon-2: #FF7777;
    --icon-3: #3662ff;
    --icon-4: #a55eff;
    --text-1: #ffffff;
    --text-2: #F0D607;
    --text-3: #fffc;
    --text-4: #999ea7;
    --text-5: #A8A8A8;
    --hr-1: #FFFFFF12;
    --hr-2: #9F9F9F36;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background: var(--background-2);
}

.Interface {
    display: grid;
    place-items: center;
    place-content: center;
    background: radial-gradient(at top right, var(--background-1) 0%, #FFFFFF00 70%), url(img/IT-Business-BG-Image.webp);
    background-color: var(--background-2);
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

#logo {
    width: 431px;
    height: 209px;
    margin-top: 210px;
}

.text {
    color: var(--text-1);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Changa", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.pictures {
    width: 83%;
    border-radius: 10px;
    border: solid 1px var(--icon-4);
    margin-bottom: 200px;
}

.page_2 {
    background: var(--background-2);
}

.page_2 {
    display: flex;
    align-items: stretch;
}

.page_2 .content {
    display: grid;
    width: 47%;
    grid-template-rows: 0;
    grid-template-columns: 215px 218px 190px;
    padding-left: 105px;
    padding-top: 7em;
}

.top {
    grid-column: 3/ 1;
}

.down {
    grid-row: 3/3;
    width: 80%;
    max-height: 65%;
}

.fa-qrcode {
    color: var(--icon-1);
}

.fa-chart-line {
    color: var(--icon-2);
}

.fa-shield-virus {
    color: var(--icon-3);
}

i {
    font-size: 2em;
}

i:hover {
    color: var(--icon-4);
}

.top .title {
    margin-bottom: 18px;
    font-weight: 900;
}

.top .paragraph {
    font-weight: 600;
    font-size: 1.1em;
}

.down .title {
    margin-top: 15px;
}

.title {
    color: var(--text-1);
    font-family: "Cairo", sans-serif;
}

.paragraph {
    color: var(--text-3);
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 0.886em;
}

/* .content_2 {
    margin-left: 120px;
} */

.content_2 img{
    border-radius: 10px;
    width: 76%;
    margin: 50px 55px 55px 50px;
}

.page_3 {
    background-color: var(--background-2);
    max-width: 100%;
    padding: 9em;
}

.box {
    background:  radial-gradient(at top right, var(--background-3) 0%, var(--background-4) 75%);
    border: solid 1px var(--icon-3);
    border-radius: 8px;
    padding: 2.3em;
    display: flex;
    justify-content: space-around;
    Align-items: center;
    height: 30em;
    flex-wrap: wrap; 
    height: 100%;
}

.min_box {
    color: var(--text-1);
    padding: 40px;
    font-size: 1.7em;
    padding-top: 65px;
}

.min_box h3 {
    font-size: 0.8em;
}

.min_box h1 {
    font-size: 2.6em;
    font-weight: 200;
}

.min_box p {
    color: var(--text-3);
    font-size: 0.74em;
}

.min_box h6 {
    color: var(--text-2);
    font-size: 0.7em;
    font-weight: 500;
    font-family: "Cairo", sans-serif;
}

.min_p {
    margin-bottom: 1.8em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 5px 0;
    font-size: 0.6em;
}

.min_p strong {
    font-size: 0.7em;
}

.min_p span {
    font-size: 0.8em;
    font-family: "Cairo", sans-serif;
}

.page_4 {
    display: flex;
    justify-content: space-around;
    background: url(img/IT-Business-BG-Image.webp);
    background-color: var(--background-5);
    background-position: center center;
}

.page_4 .num {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_4 .num h1 {
    color: var(--text-1);
    font-size: 56px;
    padding-bottom: 5px;
    margin: 0;
}

.page_4 .num p {
    color: var(--text-4);
    font-weight: 300;
    font-family: "Changa", sans-serif;
}

.page_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-1);
    height: 100vh;
}

.page_5 h1 {
    font-size: 48px;
    font-family: "Changa", sans-serif;
    font-weight: 600;
    padding-top: 1em;
}

.page_5 i.fa-angle-down {
    transform: translate(260%, 0);
}

.page_5 i.fa-angle-down:hover {
    color: var(--icon-3);
}

/*  */

.page_5 .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-5);
    border-radius: 10px;
    width: 55%;
}

.page_5 ul {
    list-style: none;
}

.page_5 ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    transition: 0.7s ease;
}

.page_5 ul li .top_5 {
    display: flex;
    justify-content: center;
}

.page_5 ul li p.title {
    display: block;
    padding: 30px 25px;
    color: var(--text-1);
    text-decoration: none;
    text-align: center;
    font-size: 1.35em;
}

.page_5 ul li ul.dropdown li {
    display: block;
}

.page_5 ul li ul.dropdown li p {
    font-size: 1em;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    padding: 0;
    width: 100%;
    padding-bottom: 80px;
}

.page_5 ul li ul.dropdown {
    width: 100%;
    background: var(--background-5);
    position: relative;
    display: none;
}

.page_5 hr {
    color: var(--hr-1);
    border: solid;
    border-width: 0px 0px 1px 0px;
    width: 100%;
}

.page_5 ul li p.title {
    transition: 0.7s ease;
}

div.icon {
    padding-top: 37px;
}

.page_5 ul li:hover p.title { 
    color: var(--icon-3);
    cursor: pointer;
}

.page_5 ul li:hover p.title + div.icon { /* star */
    color: var(--icon-3);
    cursor: pointer;
}

.page_5 ul li:hover ul.dropdown{
    display: block;
}

/*  */

.page_6 {
    display: flex;
    justify-content: center;
    margin: 8em 0;
}

.page_6 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(var(--background-3) -30%, var(--background-5) 85%), var(--text-1);
    width: 81%;
    height: 410px;
    border-radius: 15px;
}

.page_6 .content h1 {
    color: var(--text-1);
    font-size: 48px;
    margin-bottom: 30px;
}

.page_6 .content h2 {
    color: var(--text-4);
    font-family: "Cairo", sans-serif;
    font-size: 1.1em;
    margin-bottom: 30px;
    font-weight: 600;
}

.page_6 .content a {
    text-decoration: none;
    color: var(--text-1);
    background-color: var(--icon-3);
    padding: 20px 34px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s;
}

.page_6 .content a:hover {
    background-color: var(--icon-4);
}

.page_6 .content a:hover ~ .cursor2 {
    transform: scale(0.94);
}

.end {
    color: var(--hr-2);
    border: solid;
    border-width: 1px 0px 0px 0px;
    width: 100%;
}

.page_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 382px;
}

footer {
    display: flex;
    align-items: center;
    height: 110px;
}

footer p {
    color: var(--text-5);
    font-size: 0.6em;
    margin-left: 151px;
}

.cursor {
    width: 20px;
    height: 20px;
    z-index: 999;
    border: 1px solid var(--icon-3);
    border-radius: 50%;
    position: absolute;
    transition: .08s ease;
    transform: scale(2);
    pointer-events: none; /* star */
    opacity: 0.8;
}

.cursor2 {
    width: 20px;
    height: 20px;
    z-index: 999;
    background-color: var(--icon-3);
    border-radius: 50%;
    position: absolute;
    transition: .01s ease;
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0.8;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}

.show { 
    opacity: 1;
    filter: blur(0);
}

.hidden_top {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(100%);
    transition: all 1s;
}

.show_top { 
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden_right {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(20%);
    transition: all 0.8s;
}

.show_right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden_left {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 0.8s;
}

.show_left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .top:nth-child(3) { #star 
    transition-delay: 8000ms;
} */

