@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Changa:wght@200..800&display=swap');

:root {
    --background-1: #4a1f17;
    --background-2: #0e121a;
    --background-3: #243a7e;
    --background-4: #141b26;
    --icon-1: #08c16a;
    --icon-2: #FF7777;
    --icon-3: #3662ff;
    --icon-4: #a55eff;
    --text-1: #ffffff;
    --text-2: #F0D607;
    --text-3: #fffc;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.Interface {
    display: grid;
    place-items: center;
    place-content: center;
    background: radial-gradient(at top right, var(--background-1) 0%, #FFFFFF00 70%), url(img/IT-Business-BG-Image.webp);
    background-color: var(--background-2);
    width: 100%;
    min-height: 100vh;
}

#logo {
    width: 431px;
    height: 209px;
    margin-top: 210px;
}

.text {
    color: var(--text-1);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Changa", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.pictures {
    width: 83%;
    border-radius: 10px;
    border: solid 1px var(--icon-4);
    margin-bottom: 200px;
}

.page_2 {
    background: var(--background-2);
}

.page_2 {
    display: flex;
    align-items: stretch;
}

.page_2 .content {
    display: grid;
    width: 47%;
    grid-template-rows: 0;
    grid-template-columns: 215px 218px 190px;
    padding-left: 105px;
    padding-top: 7em;
}

.top {
    grid-column: 3/ 1;
}

.down {
    grid-row: 3/3;
    width: 80%;
    max-height: 65%;
}

.fa-qrcode {
    color: var(--icon-1);
}

.fa-chart-line {
    color: var(--icon-2);
}

.fa-shield-virus {
    color: var(--icon-3);
}

i {
    font-size: 2em;
}

i:hover {
    color: var(--icon-4);
}

.top .title {
    margin-bottom: 18px;
    font-weight: 900;
}

.top .paragraph {
    font-weight: 600;
    font-size: 1.1em;
}

.down .title {
    margin-top: 15px;
}

.title {
    color: var(--text-1);
    font-family: "Cairo", sans-serif;
}

.paragraph {
    color: var(--text-3);
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 0.886em;
}

/* .content_2 {
    margin-left: 120px;
} */

.content_2 img{
    border-radius: 10px;
    width: 76%;
    margin: 50px 55px 55px 50px;
}

.page_3 {
    background-color: var(--background-2);
    max-width: 100%;
    padding: 9em;
}

.box {
    background:  radial-gradient(at top right, var(--background-3) 0%, var(--background-4) 75%);
    border: solid 1px var(--icon-3);
    border-radius: 8px;
    padding: 2.3em;
    display: flex;
    justify-content: space-around;
    Align-items: center;
    height: 30em;
}

.min_box {
    color: var(--text-1);
    padding: 40px;
    font-size: 1.7em;
}

.min_box h3 {
    font-size: 0.8em;
}

.min_box h1 {
    font-size: 2.6em;
    font-weight: 200;
}

.min_box p {
    color: var(--text-3);
    font-size: 0.74em;
}

.min_box h6 {
    color: var(--text-2);
    font-size: 0.9em;
    font-weight: 300;
}

.min_p {
    margin-bottom: 1.8em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 5px 0;
    font-size: 0.6em;
}